<h1 *ngIf="authenticationService.userData | async">Hello {{ (authenticationService.userData | async)?.email }}</h1>
<h1 *ngIf="login">HI</h1>
<div *ngIf="!(authenticationService.userData | async)">
    <input type="text" [(ngModel)]="email" placeholder="email">
    <input type="password" [(ngModel)]="password" placeholder="password">

    <button (click)="signUp()">Sign Up</button>

    <button (click)="signIn()">Login</button>

    
</div>
<a (click)="check()">ทดสอบ</a>
<button (click)="signOut()" *ngIf="authenticationService.userData | async">Logout</button>